*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #1A1A1A;
}

header {
    padding: 15px;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-between;
}

header nav ul{
    list-style-type: none;
    display: flex;
}

header nav ul li {
    margin: 5px;
}

header nav ul li a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

section h1{
    color: white;
    text-align: center;
    font-size: 3rem;
    margin-top: 15px;
}

section h1 span{
    color: yellow;
}

section p{
    color: white;
    text-align: center;
    font-size: 1rem;
    margin-top: 15px;
}

.container-boton{
    display: flex;
    justify-content: center;
}

.container-boton a{
    color: black;
    text-decoration: none;
    background-color: yellow;
    padding: 10px;
    border-radius: 5px;
}